{% extends "app/forms.html" %}
{% block forms %}
{% if user.is_authenticated %}
<div id="form1">
<form id="login" action="{% url 'change_password' id=user.id %}" method="post" >
    {% csrf_token %}
    <h1>Log In</h1>
    {% if messages %}
    {% for message in messages %}
    {% if message.tags %} {% endif %}
    <font color="#FF0000">{{ message }}</font>
    {% endfor %}
	{% endif %}
    
    
    <fieldset id="inputs">
        <input name="password1" type="password" placeholder="Password" autofocus required>   
        <input name="password" type="password" placeholder="Confirm Password" required>
    </fieldset>
    <fieldset id="actions">
   <input type="submit" id="submit" value="Update">

    </fieldset>
    
</form>
</div>
{% endif %}
{% endblock %}