{% extends "app/forms.html" %}
{% block forms %}
<br />
<br />
<div id="form1">
    {% if validlink %}
        <form method="post" id="login">
            {% csrf_token %}
            <fieldset id="inputs">
            <input type="password" name="new_password1"  placeholder="New Password" />
            <input type="password" name="new_password2" placeholder="Confirm Password" />
            </fieldset>
            <fieldset id="actions">
            <button type="submit" id="submit">Reset</button>
            <a href="{% url 'login' %}">Remember your password?</a>
    </fieldset>
        </form>
    {% else %}
        <p>This reset link is no longer valid! Please generate another link.</p>
    {% endif %}
</div>
{% endblock %}