{% extends "app/forms.html" %}
{% block forms %}
<br />
<br />
<script type="text/javascript">
function call()
{
		var pass1=document.getElementById("pass1").value;
		var pass2=document.getElementById("pass2").value;
		if(pass1!=pass2)
		{
			alert("Password Does Not Match. Please Try Again.");
			document.getElementById("pass1").value="";
			document.getElementById("pass2").value="";
		}
}
</script>

{% if user.is_authenticated %}
<div id="form1">
<form method="post" id="login" action="{% url 'change_password' id=user.id%}">
            {% csrf_token %}
            <fieldset id="inputs">
            <input type="password" name="newpassword" id="pass1"  placeholder="New Password" required="required" />
            <input type="password" name="password" id="pass2" placeholder="Confirm Password" required="required" onchange="call()" />
            </fieldset>
            <fieldset id="actions">
            <button type="submit" id="submit">Reset</button>
            <a href="{% url 'login' %}">Remember your password?</a>
    </fieldset>
        </form>
</div>
{% else %}
{% endif %}
{% endblock %}