@charset "utf-8";
/* CSS Document */
html, body,  span, ul, li{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*:focus {
    outline: 0;
}
a {
  color: #2f889a;
  text-decoration: none;
}
a:hover {
  color:#090;
  text-decoration: none;
}

body{
	background:url(../images/bg.png);
	font-size: 100%;
  	font-family: "PT Sans", sans-serif;
  	color: #505260;
}

#container{
	width:1000px;
	height:auto;
	background:#FFF;;
	margin:auto;
	padding:10px;
	-webkit-border-radius:5px;
}
#title{
	width:100%;
	height:80px;;
	background:#F7F7F7;
}
#title #logo{
	width:500px;
	text-align:center;
	float:left;
	font-size:36px;
	color:#093;
	margin:auto;
	list-style:circle;
}


#title #toplinker{
	width:400px;
	text-align:center;
	float:right;
	color:#093;
	font-size:24px;
	margin-top:10px;
}
#title #toplinker a:hover{
	text-decoration:underline;
}
#slide{
	width:100%;
	height:auto;
	border-bottom:2px solid #fff;

}

#slide #right{
	float:right;
	border:2px solid #fff;
}
#slide #left{
	width:390px;
	float:left;
	text-align:center;
	height:300px;
	border:2px solid #fff;
}
#slide #left #box{
	width:300px;
	height:120px;
	border:2px solid #999;
	text-align:center;
	margin:auto;
	margin-bottom:10px;
	margin-top:10px;
	background:#FFF;
	-webkit-border-radius:5px;
}
#slide #left #box img{
	width:300px;
	height:120px;
	float:left;
}


#container .content{
	width:100%;
	margin:auto;
	min-height:800px;
	margin-top:2px;
	background:url(../images/sb.jpg);
	padding-bottom:10px;
}
.clear
{
	clear:both;
}
#featured{
	width:100%;
	height:auto;
	margin:auto;
}

		
#detail{
	width:100%;
	height:auto;
	margin-top:5px;
}

#detail #category{
	width:300px;
	height:auto;
	float:left;
	background:#F7F7F7;
	text-align:center;

	-webkit-border-radius:5px;
			background-image: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#eee));
	  background-image: -webkit-linear-gradient(top, #F7F7F7, #eee);
    background-image: -moz-linear-gradient(top, #F7F7F7, #eee);
    background-image: -ms-linear-gradient(top, #F7F7F7, #eee);
    background-image: -o-linear-gradient(top, #F7F7F7, #eee);
    background-image: linear-gradient(top, #F7F7F7, #eee); 	
	
}
#detail #category h2{
	width:250px;
	height:35px;
	color:#fff;
	margin:auto;
	margin-top:5px;
	background:#65c0bb;
	font-size:24px;
	-webkit-border-radius:5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
	padding-top:5px;
	
}
#detail #category h3{
	width:250px;
	height:30px;
	color:#036;
	margin:auto;
	margin-top:15px;
	background:#FFF;
	-webkit-border-radius:5px;
	font-size:18px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
	border:1px solid;
	padding-top:6px;
}
#detail #category a{
	margin-top:10px;
}
#detail #category h3:hover{
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
}
#detail #items{
	float:right;
	width:690px;
	height:auto;
	background:#F7F7F7;
	margin:auto;
	-webkit-border-radius:5px;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#eee));
	  background-image: -webkit-linear-gradient(top, #F7F7F7, #eee);
    background-image: -moz-linear-gradient(top, #F7F7F7, #eee);
    background-image: -ms-linear-gradient(top, #F7F7F7, #eee);
    background-image: -o-linear-gradient(top, #F7F7F7, #eee);
    background-image: linear-gradient(top, #F7F7F7, #eee);
	
}

#heading{
	text-align:center;
	width:90%;
	height:40px;
	background:#65c0bb;
	margin:auto;
	-webkit-border-radius:5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
	margin-top:5px;
	font-size:24px;
	color:#fff;
	margin-bottom:10px;
	
}

#heading h2{
	width:250px;
	height:auto;
	color:#fff;
	margin:auto;
	margin-top:5px;
	background:#65c0bb;
	padding:5px;
	font-size:24px;
	-webkit-border-radius:5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

#detail #items #productdetails{
	float:right;
	width:200px;
	height:200px;
	
	margin-top:100px;
}
#detail #items #productdetails td{
	font-weight:bold;
}

#container #footer{
	width:100%;
	height:30px;
	background-color:#F7F7F7;
	margin:2px;
	padding:4px;
	-webkit-border-radius:5px;
	
}
#container #footer ul{
	list-style:none;
	display:block;
}
#container #footer ul li{
	float:right;
	margin:5px;
	border-right:2px solid #CCC;
	border-left:2px solid #CCC;
	padding:2px;
}
#container #footer p{
	float:left;
	margin:7px;

}

#search {
	margin-top:5px;

}

#search input[type="text"] {
    background: url(../images/search-white.png) no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 100px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#search input[type="text"]:focus {
    width: 200px;
	
	
}

#itemlist{
	width:200px;
	height:220px;
	border:2px solid;
	margin:5px;
	text-align:center;
	float:left;
	-webkit-border-radius:5px;
}
#itemlist #imgsrc img{
	width:200px;
	height:150px;
	margin-top:2px;
	border-bottom:2px solid;
	
}

#itemlist p1{
	float:left;
	text-decoration:underline;
	margin:2px;
}
#itemlist p2{
	float:right;
	text-decoration:underline;
	margin:2px;
}


/* Table */

#table a:link {
	
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
#table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
#table a:active,
#table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
#table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:16px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:20px;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
#table th {
	padding:21px 15px 22px 15px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
#table th:first-child{
	text-align: left;
	padding-left:20px;
}
#table tr:first-child th:first-child{
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
#table tr:first-child th:last-child{
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
#table tr{
	text-align: center;
	padding-left:20px;
}
#table tr td:first-child{
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
#table tr td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
#table tr.even td{
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
#table tr:last-child td{
	border-bottom:0;
}
#table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
#table tr:last-child td:last-child{
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
#table tr:hover td{
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}

#comments{
	width:99%;
	height:75px;;
	min-height:50px;
	background:#FFF;
	border:2px solid #999;
	-webkit-border-radius:5px;
	
}
#comments #users{
	float:left;
	width:133px;
	padding-left:25px;
	padding-top:30px;
	background:#FFF;
	min-height:45px;
	-webkit-border-radius:5px;
	border-right:2px solid #999;
	color:#090;
	font-weight:bold;
}
#comments textarea{
	height:50px;
	border:2px solid #999;
	min-width:451px;
	max-width:451px;
	min-height:50px;
	max-height:50px;
	-webkit-border-radius:5px;
	float:right;
	background:#FFF;

	
}
#comments input{
	margin:2px;
	width:60px;
	float:right;
	height:54px;
}